
<div class="container-fluid ">
    <div class="gridCovers">
    <div class="row">
        <div class="col-md-3 gridCoverss" *ngFor="let data of images">
            <!-- {{data.image}} -->
            <div class="imgsss">
            <img [src]="data.image" class="imgProduct">
        </div>
        </div>
    </div>

</div>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-3" *ngFor="let data of images">
            
            <img [src]="data.image" class="img-fluid">
        </div>
        <br>
    </div>
</div> -->