.btns{
    padding-top: 50px;
}

.btnss{
    padding-top: 50px;
    width: 100px;
}
.card-footer
{
    width: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 2px;
    color:  rgb(102, 102, 102);
   
}
.card-footers
{
    width: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 2px;
    background: rgb(148, 148, 148);
    color: white;
}
i{
    padding-left: 10px;
}

.pageBoxLg {
  border: 1px solid blueviolet;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  position: relative;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pageBoxLg-label {
  background: rosybrown;
  margin: 0px 0px 0px 20px;
  font-size: 14px;
  padding: 2px 20px 2px 20px;
  color: white;
  transition: padding 3s;
  -moz-transition: padding 3s;
  -webkit-transition: padding 3s;
}

.images:hover {
  border: 1px solid blue;
  /* border-radius: 25px; */
}

.detailsView {
  margin-top: 20px;
  border-left: 0.3px solid #8787;
}



.relatedSection {
  color: rgb(104, 104, 104);
}

.showImages {
  padding-top: 20px;
  width: 100%;
  padding-left: 15px;
}

.img-fluids {
  height: 450px;
  width: 390px;
}

.img-fluidss {
  height: 450px;
  width: 390px;

}

.img-fluidsss {
  height: 60px;
  width: 62px;
 
}

.ras-btn {
  width: 100px;
  height: 100px;
}

.img-fluid {
  height: 250px;
  width: 200px;

}

.vat-btn {

  width: 200px;
  height: 250px;
 

}

.variants {
  width: 350px;
  border: 2px;
  border-radius: 100px;


}
.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8); 
  transform: scale(0.8); 
}

.zoom1 {
  transition: transform .6s;
  margin: 0 auto;
}

.zoom1:hover {
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8); 
  transform: scale(0.8); 
}
.var-btnn{
  padding: 30px;
}
.zoom2 {
  transition: transform .6s;
  margin: 0 auto;
}

.zoom2:hover {
  -ms-transform: scale(1.8);
  -webkit-transform: scale(1.5); 
  transform: scale(1.1); 
}

.pageBoxLg {
    border: 1px solid blueviolet;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    position: relative;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }