<!-- <iframe width="853" height="480" src="https://www.youtube.com/embed/OriXBGIeGpg" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<!-- <h1 class="balaji1">balaji 1</h1>
<h1 [class]="oldClass">balaji 1</h1>
<h1 [class]="newClass">balaji 1</h1>
<h1 [class.balaji2]="noerrorTime">bala{{name}}</h1>
<h1 [ngClass]="publicStyle">LokeshSaran</h1> -->

<header style="margin-top: 0px;">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../../assets/img/Video/Neels Vid.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">
          </h1>
        </div>
      </div>
    </div>
  </header>