.footers a {
    color: #818181;
  }
  
  .footers p {
    color: #272727;
  }
  
  .footers ul {
    line-height: 30px;
  }
  
  .footers {
    margin-top: 0px;
    background-color: #DBD9CD!important;
  }
  

  a{
      text-decoration: none;
  }


  .footerLogo{
    width: 30%;
    height: auto;
    float: none;
    padding-left: 30px;
    margin-left: 40px;
  
  }

  .footerIcons{
    margin: 0px;
    padding-left: 20px;
    margin-top: 12px;
  }