<div class="container-fluid footers pt-5">
  <div class="container">
    <div >
      <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled" >
                <li>
                  <p> GIFT CARD</p>
                  <p>
                    STYLE
                  </p>
                  <p>
                    BLOG
                  </p>
                  <p>FAQ</p>
                  <p>
                    CONTACT US
                  </p>
                </li>
              </ul>

        </div>
        <div class="col-md-6" style="padding-left: 160px;">
          <img src="../../../assets/img/Neels Logo.png" class="footerLogo">
          <ul class="list-unstyled" style="margin-top: 15px;">
            <li>
              <img src="../../../assets/img/icons/facebook.png" class="footerIcons">
              <img src="../../../assets/img/icons/google-plus.png" class="footerIcons">
              <img src="../../../assets/img/icons/instagram.png" class="footerIcons">
              <img src="../../../assets/img/icons/twitter.png" class="footerIcons">
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled" style="text-align: right;">
            <li>
              <p> CORPORATE</p>
              <p>
                SHOPPING POLICIES
              </p>
              <p>
                STORE LOCATOR
              </p>
              <p>RETURNS & EXCHANGE</p>
              <p>
                CUSTOMS DUTY
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>