<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="example-container">
        <h4  class="heading">Keep up with updates in email
        </h4>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        <div class="actions">
          <h1 style="text-align: center; margin-top: 9px;" class="actions">
            <button type="button" class="btn btn-md btn-block">Subscribe</button>
          </h1>
          <p class="subContent">We’ll never share your email address and you can opt out at any time, we promise</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>